// define
$mainColor: #308843;
$mainColorHover: rgba(48, 136, 67, 0.3);
$buttonHover: #1b5028;



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    overflow-x: hidden;
    outline: none !important;
    font-family: 'Open Sans', sans-serif !important;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

p {
    line-height: 1.75;
}

a {
    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
    }
}

.page-section {
    padding: 6rem 0;

    h2.section-heading {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    h3.section-subheading {
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 2rem;
    }
}

@media (min-width: 768px) {
    section {
        padding: 9rem 0;
    }
}

// ::-moz-selection,
// ::selection {
//     background: $mainColor;
//     text-shadow: none;
// }

// img {

//     &::-moz-selection,
//     &::selection,
//     &::-moz-selection {
//         background: transparent;
//     }
// }

.btn-xl {
    padding: 1.25rem 2.5rem;

    font-size: 1.125rem;
    font-weight: 700;
}

.btn-social {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;

    .navbar-toggler {
        padding: 0.5rem !important;
        font-size: 1.75rem !important;
        color: #fff;
        text-transform: uppercase;
        // background-color: $mainColor;
        border: 0;
    }

    .navbar-brand {
        color: $mainColor;
        font-weight: 700;
        letter-spacing: 0.0625em;
        text-transform: uppercase;

        img {
            height: 1.5rem;
        }
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 0.95rem;
        color: #fff;
        letter-spacing: 0.0625em;

        &.active,
        &:hover {
            color: $mainColor;
        }
    }
}

/* header start */

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;

        .navbar-brand {
            font-size: 1.5em;
            transition: font-size 0.3s ease-in-out;

            img {
                height: 2rem;
                transition: height 0.3s ease-in-out;
            }
        }

        &.navbar-shrink {
            padding-top: 1rem;
            padding-bottom: 1rem;
            background-color: #212529;

            .navbar-brand {
                font-size: 1.25em;

                svg,
                img {
                    height: 1.5rem;
                }
            }
        }

        .navbar-nav .nav-item {
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../assets/img/test.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

    .masthead-subheading {
        font-size: 1.5rem;
        font-style: italic;
        line-height: 1.5rem;
        margin-bottom: 25px;
    }

    .masthead-heading {
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-bottom: 2rem;
    }
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 17rem;
        padding-bottom: 17rem;

        .masthead-subheading {
            font-size: 2.25rem;
            font-style: italic;
            line-height: 2.25rem;
            margin-bottom: 2rem;
        }

        .masthead-heading {
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 4.5rem;
            margin-bottom: 4rem;
        }
    }
}

/* header end */


// overview start


#overview {
    .overview-picture {
        a {
            svg {
                transition: 0.3s;
            }

            &:hover {
                svg {
                    transform: scale(1.1);
                }
            }

        }
    }
}



// overview end

/* products start */
#products {
    padding: 5rem 0 !important;
}

#products .products-item {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;

    .products-link {
        position: relative;
        display: block;
        margin: 0 auto;

        .products-hover {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            background: $mainColorHover;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity ease-in-out 0.25s;
            border-radius: 10px 10px 0 0 !important;

            .products-hover-content {
                font-size: 1.25rem;
                color: white;
            }
        }

        &:hover .products-hover {
            opacity: 1;
        }
    }

    .products-caption {
        padding: 1.5rem;
        text-align: center;
        background-color: #fff;
        border-radius: 0 0 10px 10px;

        .products-caption-heading {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 0;
        }

        .products-caption-subheading {
            font-style: italic;
        }
    }
}

.products-modal {
    padding: 0 !important;

    .modal-dialog {
        margin: 5px;
        max-width: 100vw;
    }

    .modal-content {
        padding-top: 6rem;
        padding-bottom: 6rem;
        text-align: center;
        width: 60%;
        display: flex;
        margin: 30px auto 20px auto;

        h2 {
            font-size: 3rem;
            line-height: 3rem;
        }

        p {
            &.item-intro {
                font-style: italic;
                margin-bottom: 2rem;
            }

            margin-bottom: 2rem;
        }

        ul.list-inline,
        img {
            margin-bottom: 2rem;
        }
    }

    .close-modal {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        color: #000;

        &:hover {
            opacity: 0.3;

        }
    }
}

@media only screen and (max-width: 1200px) {
    .products-modal {
        .modal-content {
            h2 {
                font-size: 2rem !important;
            }

            width: 100%;
        }
    }

}

/* products end */

/* customer start */

.timeline {
    position: relative;
    padding: 0;
    list-style: none;

    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 40px;
        width: 2px;
        margin-left: -1.5px;
        content: "";
        background-color: #e9ecef;
    }

    >li {
        position: relative;
        min-height: 50px;
        margin-bottom: 50px;

        &:after,
        &:before {
            display: table;
            content: " ";
        }

        &:after {
            clear: both;
        }

        .timeline-panel {
            position: relative;
            float: right;
            width: 100%;
            padding: 0 20px 0 100px;
            text-align: left;

            &:before {
                right: auto;
                left: -15px;
                border-right-width: 15px;
                border-left-width: 0;
            }

            &:after {
                right: auto;
                left: -14px;
                border-right-width: 14px;
                border-left-width: 0;
            }
        }

        .timeline-image {
            position: absolute;
            z-index: 100;
            left: 0;
            width: 80px;
            height: 80px;
            margin-left: 0;
            text-align: center;
            color: white;
            // border: 7px solid #e9ecef;
            border-radius: 100%;
            background-color: $mainColor;

            h4 {
                font-size: 10px;
                font-weight: 400 !important;
                line-height: 14px;
                margin-top: 12px;
            }
        }

        &.timeline-inverted>.timeline-panel {
            float: right;
            padding: 0 20px 0 100px;
            text-align: left;

            &:before {
                right: auto;
                left: -15px;
                border-right-width: 15px;
                border-left-width: 0;
            }

            &:after {
                right: auto;
                left: -14px;
                border-right-width: 14px;
                border-left-width: 0;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .timeline-heading h4 {
        margin-top: 0;
        color: inherit;

        &.subheading {
            text-transform: none;
        }
    }

    .timeline-body> {

        ul,
        p {
            margin-bottom: 0;
        }
    }

}

#customers {
    padding: 8rem 0;
}

.customers-name {
    box-shadow: 7px 7px 15px #aaa;
    border-radius: 10px;

    .customers-item {
        border: 1px solid #5555550f;
        border-collapse: collapse;
        text-align: center;
        padding: 1.5rem 2.5rem;

        a {
            img {
                transition: 0.3s !important;
            }

            &:hover {
                img {
                    transform: scale(1.1) !important;
                }
            }

        }
    }

    .top-left {
        border-radius: 10px 0 0 0;

    }

    .top-right {
        border-radius: 0 10px 0 0;
    }

    .bottom-left {
        border-radius: 0 0 0 10px;
    }

    .bottom-right {
        border-radius: 0 0 10px 0;
    }
}


@media only screen and (max-width:480px) {
    .customers-name {
        margin: 0 !important;

        .customers-item {
            width: 50% !important;
        }
    }
}

@media (min-width: 768px) {
    .timeline {
        &:before {
            left: 50%;
        }

        >li {
            min-height: 100px;
            margin-bottom: 100px;

            .timeline-panel {
                float: left;
                width: 41%;
                padding: 0 20px 20px 30px;
                text-align: right;
            }

            .timeline-image {
                left: 50%;
                width: 100px;
                height: 100px;
                margin-left: -50px;

                h4 {
                    font-size: 13px;
                    line-height: 18px;
                    margin-top: 16px;
                }
            }

            &.timeline-inverted>.timeline-panel {
                float: right;
                padding: 0 30px 20px 20px;
                text-align: left;
            }
        }
    }
}

@media (min-width: 992px) {
    .timeline>li {
        min-height: 150px;

        .timeline-panel {
            padding: 0 20px 20px;
        }

        .timeline-image {
            width: 150px;
            height: 150px;
            margin-left: -75px;

            h4 {
                font-size: 18px;
                line-height: 26px;
                margin-top: 30px;
            }
        }

        &.timeline-inverted>.timeline-panel {
            padding: 0 20px 20px;
        }
    }
}

@media (min-width: 1200px) {
    .timeline>li {
        min-height: 170px;

        .timeline-panel {
            padding: 0 20px 20px 100px;
        }

        .timeline-image {
            width: 170px;
            height: 170px;
            margin-left: -85px;

            h4 {
                margin-top: 40px;
            }
        }

        &.timeline-inverted>.timeline-panel {
            padding: 0 100px 20px 20px;
        }
    }
}

/* about start */

.about-member {
    margin-bottom: 3rem;
    text-align: center;

    img {
        width: 14rem;
        height: 14rem;
        border: 3px solid #555;
    }

    h4 {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
}

@media only screen and(max-width:480px) {
    .about-member {
        img {
            width: 8rem;
            height: auto;
        }
    }
}

// about end 

/* contact start */

section#contact {
    background-color: #212529;
    background-image: url("../assets/img/map-image.png");
    background-repeat: no-repeat;
    background-position: center;

    .section-heading {
        color: #fff;
    }

}

#contact {
    padding: 1rem !important;


    .modal-dialog {
        .modal-content {
            border-radius: 10px;

            .contact-img-header {
                border-radius: 10px 10px 0 0;
            }
        }
    }
}

@media only screen and(max-width:480px) {
    #contact {
        .container {
            padding: 0 !important;
        }
    }
}

/* contact end */

.footer {
    text-align: center;
    font-size: 0.9rem;
}